html {
    background-color: beige;
}
.nav {
    background-color: rgb(181, 181, 244);
}
.nav_li {
    display: inline-block;
    font-size: 20px; 
    padding: 20px;  
}    
.nav_ul a {
    text-decoration: double;
}
.nav_ul a:hover {
    text-decoration: double;
    color: red;
}
.nav_ul i {
    color: rgb(95, 89, 89);
}

.nav_ul_responsive {
    display: none;
}
.nav_li_responsive {
    display: inline-block;
    font-size: 10px; 
    padding: 10px;
}
.nav_ul_responsive a {
    text-decoration: double;
}
.nav_ul_responsive a:hover {
    text-decoration: double;
    color: red;
}
.nav_ul_responsive i {
    color: rgb(95, 89, 89);
}
@media only screen and (max-width: 400px) {
    .nav_ul {
        display: none;
    }
    .nav_ul_responsive {
        display: block;
    }
}
.tecnologias-aprendidas {
    color:blue;
    background-color: red;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: rgb(204, 29, 29);
}
.div1 {
    background-color: aqua;
    display: inline-block;
    overflow: visible;
    
}
.div1 a {
    display:inline-block;
    font-size: 40px;
   vertical-align:top ;
   color: rgb(203, 184, 35);
   text-decoration-color:chocolate ;
}
.div2 {
    display:inline-block;
    float:none;
    background-color: rgb(129, 181, 196);
}
.div2 a {
    color: chartreuse;
    text-decoration-color:rgb(210, 57, 210) ;
   font-size: 40px;
   vertical-align: top;
}
a:visited {
    color: red;
}